.event-content {
    padding: 20px 0px;
    overflow: hidden;
    &>* {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.event-comment{
font-style: italic
}

.event-date {
    margin-right: 8px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.48);
    transition: color .2s linear;
}

.margin-y-1 {
    margin: 8px 0;
}