a {
  color: inherit;
  text-decoration: none;
  /* no underline */
}
.event-card {
  .mat-icon-button {
    color: rgba(0, 0, 0, 0.48);
    transition: color .2s linear;
    &:hover {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}
.event-content {
  overflow: hidden;
  & > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.event-date {
  margin-right: 8px;
  width: 50px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.48);
  transition: color .2s linear;
}
.margin-y-1 {
  margin: 8px 0;
}
.mat-list-item {
  .vertical-line {
    display: block;
    background: rgba(0, 0, 0, 0.12);
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    transition: background .2s linear;
  }
  &:hover {
    .vertical-line {
      background: rgba(59, 68, 255, 0.48);
    }
    .event-date {
      color: rgba(0, 0, 0, 0.64);
    }
  }
}

