<div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="20%"></div>
    <div fxFlex="60%">
        <!-- Add new event Form-->
        <div>
            <md-card *ngIf="isAddEventMode"> 
                <form [formGroup]="newEventForm" (ngSubmit)="newEventPost(newEventForm.value)">
                <div>
                    <md-input-container>
                        <input mdInput
                            #name 
                            placeholder="Type name" 
                            type="text"
                            formControlName="name"
                            ng-change="newEventValidation()">
                    </md-input-container>
                    <md-error *ngIf="!newEventForm.controls['name'].valid && newEventForm.controls['name'].touched">
                        <div *ngIf="newEventForm.controls['name'].errors.required; else newEventNameMinLength">
                            {{ERRORS.NAME}} {{ERRORS.IS_REQUIRED}}
                        </div>
                        <ng-template #newEventNameMinLength>
                            <div *ngIf="newEventForm.controls['name'].errors.minlength; else newEventNameMaxLength">
                                {{ERRORS.NAME}} {{ERRORS.TOO_SHORT}}
                            </div>
                        </ng-template>
                        <ng-template #newEventNameMaxLength>
                            <div *ngIf="newEventForm.controls['name'].errors.maxlength">
                                {{ERRORS.NAME}} {{ERRORS.TOO_LONG}}
                            </div>
                        </ng-template>
                    </md-error>
                </div>
                <div>            
                    <md-input-container>
                        <textarea mdInput
                                #description 
                                placeholder="Type description"
                                formControlName="description"></textarea>
                    </md-input-container>
                    <md-error *ngIf="!newEventForm.controls['description'].valid && newEventForm.controls['description'].touched">
                        <div *ngIf="newEventForm.controls['description'].errors.required; else newEventDescriptionMinLength">
                            {{ERRORS.DESCRIPTION}} {{ERRORS.IS_REQUIRED}}
                        </div>
                        <ng-template #newEventDescriptionMinLength>
                            <div *ngIf="newEventForm.controls['description'].errors.minlength; else newEventDescriptionMaxLength">
                                {{ERRORS.DESCRIPTION}} {{ERRORS.TOO_SHORT}}
                            </div>
                        </ng-template>
                        <ng-template #newEventDescriptionMaxLength>
                            <div *ngIf="newEventForm.controls['description'].errors.maxlength">
                                {{ERRORS.DESCRIPTION}} {{ERRORS.TOO_LONG}}
                            </div>
                        </ng-template>
                    </md-error>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput [mdDatepicker]="date" formControlName="date" [min]="minDate"  placeholder="Choose a date">
                        <button mdSuffix [mdDatepickerToggle]="date"></button>
                        <md-error *ngIf="!newEventForm.controls['date'].valid && newEventForm.controls['date'].touched">
                            <div *ngIf="newEventForm.controls['date'].errors.required">
                                {{ERRORS.DATE}} {{ERRORS.DATE_PATTERN}}
                            </div>
                        </md-error>
                    </md-input-container>
                    <md-datepicker #date></md-datepicker>
                </div>
                <div>
                    <button md-button
                        color="accent"
                        md-raised-button
                        type="submit" 
                        [disabled]="!newEventForm.valid"> Add event </button>
                </div>
                </form>
            </md-card>
        </div>
           <!-- All Events List-->
        <div>
            <h3 class="mat-title">Upcomming events</h3>
            <md-card class="event-card" *ngIf="events.length">
                <md-list>
                    <div *ngFor="let event of events">
                        <div class="margin-y-1">
                            <md-list-item>
                                <span class="vertical-line"></span>
                                <div class="event-date"> 
                                    {{ event.date | date }}
                                </div>
                                <div fxFlex class="event-content">
                                    <div><b>{{ event.name }}</b></div>
                                    <div class="mat-caption">{{ event.description }}</div>
                                </div>                            
                                <div fxLayout="row">
                                    <button md-icon-button (click)="editEvent(event)">
                                        <md-icon>mode_edit</md-icon>
                                    </button>
                                    <button md-icon-button (click)="deleteEvent(event)">
                                        <md-icon>delete</md-icon>
                                    </button>
                                </div>                            
                            </md-list-item> 
                        </div>                    
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-card>
        </div>
        
    </div>
    <div fxFlex="20%">
        <button md-mini-fab
                color="accent"
                md-raised-button 
                class="new-event-btn" 
                (click)="isAddEventMode = !isAddEventMode">
                <md-icon>{{ isAddEventMode ? 'keyboard_arrow_up' : 'add'}}</md-icon>
        </button>
    </div>
</div>