<form [formGroup]="loginForm" (ngSubmit)="loginPost(loginForm.value)">
    <div>
        <div>
            <md-input-container>
                <input mdInput 
                       #email 
                       formControlName="email"
                       placeholder="Your email" 
                       type="email">
            </md-input-container>
            <md-error *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                        <div class="errorMessage" *ngIf="loginForm.controls['email'].errors.required; else minLengthEmail">
                        {{ERRORS.EMAIL}} {{ERRORS.IS_REQUIRED}}
                        </div>
                        <ng-template #minLengthEmail>
                            <div *ngIf="loginForm.controls['email'].errors.minlength; else maxLengthEmail">
                            {{ERRORS.EMAIL}} {{ERRORS.TOO_SHORT}}
                            </div>
                        </ng-template>
                        <ng-template #maxLengthEmail>
                            <div *ngIf="loginForm.controls['email'].errors.maxlength; else patternEmail">
                            {{ERRORS.EMAIL}} {{ERRORS.TOO_LONG}}
                            </div>
                        </ng-template>
                        <ng-template #patternEmail>
                            <div *ngIf="loginForm.controls['email'].errors.pattern">
                                {{ERRORS.EMAIL}} {{ERRORS.INVALID}}
                            </div>
                        </ng-template>
                    </md-error>
        </div>
        <div>
            <md-input-container>
                <input mdInput 
                       #password 
                       formControlName="password"
                       placeholder="Your password" 
                       type="password">
            </md-input-container>
            <md-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                    <div *ngIf="loginForm.controls['password'].errors.required; else minLengthPassword">
                        {{ERRORS.PASSWORD}} {{ERRORS.IS_REQUIRED}}
                    </div>
                    <ng-template #minLengthPassword>
                        <div  *ngIf="loginForm.controls['password'].errors.minlength; else maxLengthPassword">
                            {{ERRORS.PASSWORD}} {{ERRORS.TOO_SHORT}}
                        </div>
                    </ng-template>
                    <ng-template #maxLengthPassword> 
                        <div  *ngIf="loginForm.controls['password'].errors.maxlength; else patternPassword">
                            {{ERRORS.PASSWORD}} {{ERRORS.TOO_LONG}}
                        </div>
                    </ng-template>
                    <ng-template #patternPassword> 
                        <div  *ngIf="loginForm.controls['password'].errors.pattern">
                            {{ERRORS.PASSWORD}} {{ERRORS.PASSWORD_INVALID}}
                        </div>
                    </ng-template>
            </md-error>
        </div>
    </div>
    <div>
        <button md-button
                type="submit" 
                [disabled]="!loginForm.valid"> Login </button>
        <button md-button md-dialog-close>Cancel</button>
    </div>
</form>
