<div fxLayout="row" fxLayoutAlign="space-between end">
  <div class="add_event_btn">
    <button md-mini-fab
            color="accent"
            md-raised-button
            class="new-event-btn"
            (click)="isAddEventMode = !isAddEventMode; this.newEventForm.reset()">
      <md-icon>{{ isAddEventMode ? 'keyboard_arrow_up' : 'add'}}</md-icon>
    </button>
  </div>
</div>
<div *ngIf="isAddEventMode">
  <h3 class="mat-title">Add new event</h3>
  <md-card class="newEventForm">
    <form [formGroup]="newEventForm"
          (ngSubmit)="newEventPost(newEventForm.value); openSnackBar('New event successfully added'); this.newEventForm.reset() ">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="48%">
          <!--left column-->
          <!--event Name-->
          <md-form-field>
            <input mdInput placeholder="{{fields.eventName}}" formControlName="name" #name
                   autofocus>
            <md-error *ngIf="!newEventForm.controls['name'].valid && newEventForm.controls['name'].touched">
              <div *ngIf="newEventForm.controls['name'].errors.required; else newEventNameMinLength">
                {{ERRORS.NAME}} {{ERRORS.IS_REQUIRED}}
              </div>
              <ng-template #newEventNameMinLength>
                <div *ngIf="newEventForm.controls['name'].errors.minlength; else newEventNameMaxLength">
                  {{ERRORS.NAME}} {{ERRORS.TOO_SHORT}}
                </div>
              </ng-template>
              <ng-template #newEventNameMaxLength>
                <div *ngIf="newEventForm.controls['name'].errors.maxlength">
                  {{ERRORS.NAME}} {{ERRORS.TOO_LONG}}
                </div>
              </ng-template>
            </md-error>
          </md-form-field>
          <!--event Type-->
          <md-select placeholder="{{fields.eventType}}" formControlName="event_type"
                     #event_type>
            <md-option *ngFor="let type of eventForm.event_types" [value]="type.value">{{ type.viewValue }}</md-option>
          </md-select>
          <!--city-->
          <md-select placeholder="{{fields.selectCity}}" formControlName="city" #city
                     (change)="loadDistrict($event, city.value)"
          >
            <md-option *ngFor="let city of eventForm.locations" [value]="city.value">{{ city.viewValue }}</md-option>
          </md-select>
          <!--district-->
          <md-select placeholder="{{fields.selectDistrict}}" formControlName="district" disabled="true"
                     #district>
            <md-option *ngFor="let district of eventForm.districts" [value]="district.value">
              {{ district.viewValue }}
            </md-option>
          </md-select>
          <!--event Category-->
          <md-select placeholder="{{fields.eventCategory}}" formControlName="event_category"
                     #event_category>
            <md-option *ngFor="let category of eventForm.event_categories" [value]="category.value">
              {{ category.viewValue }}
            </md-option>
          </md-select>
        </div>
        <div fxFlex="48%">
          <!--right column-->
          <md-form-field class="Description *">
            <input mdInput placeholder="{{fields.description}}" formControlName="description"
                   #description>
            <md-error
              *ngIf="!newEventForm.controls['description'].valid && newEventForm.controls['description'].touched">
              <div *ngIf="newEventForm.controls['description'].errors.required; else newEventDescriptionMinLength">
                {{ERRORS.DESCRIPTION}} {{ERRORS.IS_REQUIRED}}
              </div>
              <ng-template #newEventDescriptionMinLength>
                <div
                  *ngIf="newEventForm.controls['description'].errors.minlength; else newEventDescriptionMaxLength">
                  {{ERRORS.DESCRIPTION}} {{ERRORS.TOO_SHORT}}
                </div>
              </ng-template>
              <ng-template #newEventDescriptionMaxLength>
                <div *ngIf="newEventForm.controls['description'].errors.maxlength">
                  {{ERRORS.DESCRIPTION}} {{ERRORS.TOO_LONG}}
                </div>
              </ng-template>
            </md-error>
          </md-form-field>
          <md-select placeholder="{{fields.eventMode}}" formControlName="event_mode"
                     #event_mode>
            <md-option *ngFor="let mode of eventForm.event_modes" [value]="mode.value">
              {{ mode.viewValue }}
            </md-option>
          </md-select>
          <md-form-field>
            <input mdInput [mdDatepicker]="picker" placeholder="{{fields.date}}" formControlName="date"
                   #date>
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker #picker></md-datepicker>
            <md-error *ngIf="!newEventForm.controls['date'].valid && newEventForm.controls['date'].touched">
              <div *ngIf="newEventForm.controls['date'].errors.required">
                {{ERRORS.DATE}} {{ERRORS.DATE_PATTERN}}
              </div>
            </md-error>
          </md-form-field>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="{{fields.time}}" formControlName="time"
                   #time>
          </md-form-field>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="{{fields.price}}" formControlName="price"
                   #price>
          </md-form-field>
          <md-form-field class="hidden-field">
            <input ngControl="lat" [(ngModel)]="lat" mdInput placeholder="lat" formControlName="lat"
            >
          </md-form-field>
          <md-form-field class="hidden-field">
            <input ngControl="lng" [(ngModel)]="lng" mdInput placeholder="lng" formControlName="lng"
            >
          </md-form-field>
        </div>
      </div>
      <div>
        <div class="map_container">
          <agm-map [styles]="map.customStyle"
                   [latitude]="map.center_lat"
                   [longitude]="map.center_lng"
                   [disableDefaultUI]="true"
                   [scrollwheel]="false"
                   [zoom]="map.zoomLevel"
                   fullscreenControl="true"
                   (mapClick)="mapClicked($event)"
          >
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <button md-button
                color="accent"
                md-raised-button
                type="submit"
                [disabled]="!newEventForm.valid"> Add event
          <md-icon>done</md-icon>
        </button>
      </div>
    </form>
  </md-card>
</div>
